h1 {
    font-size: 40px;
    font-weight: bold;
    color: blueviolet;
    text-align: center;
    background-color: black;
}

.describe {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

a {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: brown;
}

a:active {
    color: brown;
}